<form action="" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend class="text">Статья</legend>
        <p><label for="title" class="text">Заголовок:</label>
            <input type="text" id="title" name="title" value="{{ article.title }}" required></p>
        <p><label for="author" class="text">Автор:</label>
            <input type="text" id="author" name="author" value="{{ article.author }}" required><br>
        </p>
        <p><label for="description" class="text">Описание статьи:</label></p>
        <textarea name="description" id="description" class="text" cols="30" rows="10" required>{{article.description}}</textarea><br>
        <p><label for="article" class="text">Статья:</label></p>
        <textarea name="article" id="article" class="text" cols="30" rows="10" required>{{article.article}}</textarea><br>
        <input type="hidden" name="id_editor" id="id_editor" value="{{ article.id_editor }}" required>
        <input type="hidden" name="id_article" id="id_article" value="{{ article.id_article }}" required>
    </fieldset>
    <p><label for="img_user" class="text">
        {{ content_data ? 'Поменять фото!' : 'Добавить фото к статье!' }}
    </label></p>
    <p><input type="file" name="img_user" id="img_user"></p>
        {{ content_data ? change : add }}
</form>
{% if content_data %}
    <p><img src="{{ domain }}{{ img }}{{ article.img }}" class="image" alt=""></p>
{% endif %}
