    <div class="brand"><img src="{{ domain }}{{ img }}logo.png" class="brand_img">
                        <a href="#"><img src="{{domain}}{{ img }}logo.png" class="brand_img"></a>
                        <a href="#"><img src="{{domain}}{{ img }}logo.png" class="brand_img"></a>
                        <a href="#"><img src="{{domain}}{{ img }}logo.png" class="brand_img"></a>
                        <a href="#"><img src="{{domain}}{{ img }}logo.png" class="brand_img"></a>
                        <a href="#"><img src="{{domain}}{{ img }}logo.png" class="brand_img"></a>
                        <a href="#"><img src="{{domain}}{{ img }}logo.png" class="brand_img"></a>
                    </div>
