    <div class="footer">
                <div class="footer_inside">
                    <div class="footer_text">
                        <div class="footer_head">Category</div>
                        <div class="footer_links">
                            <a href="?index">Home</a><br>
                            <a href="?module=newProducts">New products</a><br>
                            <a href="?module=topProducts">Top protucts</a><br>
                            <a href="?module=sales">SALE</a><br>
                            <!-- <a href="#">New collections</a><br>
                            <a href="#">Blog</a><br>
                            <a href="#">Contact</a><br> -->
                        </div>
                    </div>
                    <div class="footer_text">
                        <div class="footer_head">Our Account</div>
                        <div class="footer_links"><a href="#">Home</a><br>
                            <a href="#">Your Account</a><br>
                            <a href="#">Personal information</a><br>
                            <a href="#">Addresses</a><br>
                        </div>
                    </div>
                    <div class="footer_text">
                        <div class="footer_head">Our Support</div>
                        <div class="footer_links"><a href="#">Home</a><br>
                            <a href="#">Contact Us</a><br>
                            <a href="#">Adresses</a><br>
                        </div>
                    </div>
                    <div class="footer_text">
                        <div class="footer_head">Newsletter
                            <div class="footer_news">Join our people, we love play 
                            saxophones, but we have a problem, we are jazz snobs!</div>
                            <div class="input"><input type="email" placeholder="     INSERT EMAIL">
                                <input type="submit" value="SUBMIT">
                            </div>
                            <div class="credit_cards">
                                <img src="{{ domain }}{{ img }}payment.png">
                            </div>
                        </div>
                    </div>
                    <div class="footer_text">
                        <div class="footer_head">About us
                        <div class="footer_news">So, we are saling perfect saxophones
                        , if you want to buy sax you should buy it here! Don't look
                        at prices, just buy it! Doesn't matter how many hours per 
                        day you spend for practicing, just buy our sax and in a 
                        second you become professional player! Without us, nothing.</div>
                            <div class="about_us">Phone:&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;+375298555476</div>
                            <div class="about_us">email:&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;<span>matsak_92@mail.ru</span></div>
                        </div>
                    </div>
                </div>
                <div class="footer_bottom">
                        <div class="footer_bottom_inside">
                            <div class="copy">&copy;2021 SAXMUZ All right reserved
                             - Desined by musiclab.com</div>
                            <div class="footer_sosial">
                                <a href="https://www.facebook.com/?ref=tn_tnmn" 
                                   class="links_social" target="blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/login?lang=ru" 
                                   class="links_social" target="blank"><i class="fab fa-twitter"></i></a>
                                   <a href="https://www.pinterest.com/"
                                      class="links_social" target="blank"><i class="fab fa-pinterest-p"></i></a>
                                      <a href="https://www.google.com/"
                                      class="links_social" target="blank"><i class="fab fa-google-plus-g"></i></a>
                                      <a href="https://www.tumblr.com/"
                                      class="links_social" target="blank"><i class="fab fa-tumblr"></i></a>
                                    <a href="https://www.instagram.com/?hl=ru" class="links_social" 
                                       target="blank"><i class="fab fa-instagram"></i></a>
                                       <a href="https://www.onliner.by/rss/news.rss" class="links_social" 
                                       target="blank"><i class="fas fa-rss"></i></a>
                            </div>
                        </div>
                    </div>
                </div>