<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{domain}}/css/styles.css">
    <link rel="stylesheet" href="{{domain}}/css/galery.css">
    <link rel="stylesheet" href="{{domain}}/css/photogalery.css">
    <link rel="stylesheet" href="{{domain}}/pacage/fontawesome-free-5.5.0-web/css/all.css" crossorigin="anonymous">
    <title>{{ title }}</title>
    <!--<script src="{{domain}}/js/galery.js?v={{ microtime }}"></script>-->
    <script type="text/javascript" src="{{domain}}/js/query3-3-1.js"></script>
    <!--<script type="text/javascript" src="{{domain}}/js/jquery.js"></script>-->
    <!--<script type="text/javascript" src="{{domain}}/js/jquery.nivo.slider.pack.js"></script>-->
    <script src="{{ domain }}/js/js.js?v={{ microtime }}" type="text/javascript"></script>
    <script src="{{domain}}/js/ajax.js?v={{ microtime }}" type="text/javascript"></script>
    <script src="{{domain}}/js/main.js?v={{ microtime }}" type="text/javascript"></script>
        <!--Скрипт для AJAX -->

    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="{{domain}}js/jquery.js"></script> -->
        <!-- Окончание скрипта AJAX -->
</head>
