    <div class="header">
                <div class="header_inside">
                <div class="logo">
                    <a href="?index"><img src="{{domain}}{{ img }}logo.png" class="logo_img"></a>
                    <div><a href="?index" class="logo_text">S</a></div>
                    <div><a href="?index" class="logo_text">A</a></div>
                    <div><a href="?index" class="logo_text">X</a></div>
                    <div><a href="?index" class="logo_text">M</a></div>
                    <div><a href="?index" class="logo_text">U</a></div>
                    <div><a href="?index" class="logo_text">Z</a></div>
                </div>
                <div class="links_social_all">
                <a href="https://www.facebook.com/?ref=tn_tnmn" class="links_social" target="blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/login?lang=ru" class="links_social" target="blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/" class="links_social" target="blank"><i class="fab fa-youtube-square"></i></a>
                <a href="https://www.pinterest.com/" class="links_social" target="blank"><i class="fab fa-pinterest-p"></i></a>
                <a href="https://www.instagram.com/?hl=ru" class="links_social" target="blank"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="welcome">
                    <div class="welcome_text">WECLOME TO SAXMUZ</div>
                    <div class="welcome_text_2">The only online store you will ever need
                    for all your musical ideas and music instruments</div>
                </div>
                <div class="header_brand">Selmerus<br>2021
                    <div class="header_brand_2">The most powerfull pop sound
                    have this saxophones, very comfortable to play on it</div>
                    <div class="header_brand_button"><a href="?module=allProducts">BUY NOW</a></div>
                </div>
                </div>
            </div>
